/*------------------------------------------------------------------

    Main Style Stylesheet

    Project:        PORTO. | Creative Portfolio One Page Template  
    Version:        1.0
    Author:         Bakhtrai Badr.
    Last change:    10/11/2018
    Primary use:    (Free Version) Multipurpose Use.

-------------------------------------------------------------------*/
/*=======================================================
			TABLE OF CONTENT:

	1/ BODY
	2/ COLORS(Only Visible in scss file)
	3/ TYPOGRAPHY
	4/ BUTTONS
	5/ NAVIGATION
	6/ TOP SLIDER
	7/ ABOUT US
	8/ FEATURES
	9/ PORTFOLIO
	10/ CALL TO ACTION
	11/ SERVICES
	12/ PRICES
	13/ TESTIMONIALS
	14/ TEAM
	15/ CONTACT
	16/ FOOTER
	17/ MEDIA QUERIES
	18/ PRELOADER

========================================================*/
/*--- Google Fonts ---*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

/*=======================================================
			BODY:
========================================================*/
body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.8;
	letter-spacing: 0.07em;
	color: #5c5c5c;
}

/*=======================================================
			COLORS (Only Visible In Scss File):
========================================================*/
/*=======================================================
			TYPOGRAPHY:
========================================================*/
h1 {
	font-size: 3.5rem;
	font-weight: 700;
}

h2 {
	font-size: 2.5rem;
	font-weight: 700;
	color: #000;
}

h3 {
	font-weight: 300;
}

h4 {
	font-weight: 700;
	color: #000;
}

h5 {
	font-weight: 700;
	color: #000;
}

h6 {
	font-size: 1.3rem;
	font-weight: 700;
	color: #000;
}

.lnr {
	font-size: 3rem;
	color: #ad67ea;
}

/*=======================================================
			BUTTONS:
========================================================*/
.btn-transparent {
	background: transparent;
	font-size: 12px;
	padding: 15px 25px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 100px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active {
	background: #ad67ea;
	color: #fff;
	border: 1px solid #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.btn-white {
	background: #fff;
	font-size: 12px;
	padding: 15px 25px;
	color: #000;
	border: 1px solid #fff;
	border-radius: 100px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
	background: #ad67ea;
	color: #fff;
	border: 1px solid #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.btn-primary {
	background: #ad67ea;
	font-size: 12px;
	padding: 15px 25px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 100px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background: #8aecec;
	color: #fff;
	border: 1px solid #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

/*=======================================================
			NAVIGATION:
========================================================*/
.core-nav .brand {
	top: 10px;
}

.core-nav .brand img {
	width: 120px;
}

.core-nav .menu li a {
	font-weight: 500;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.core-nav .menu li.active > a {
	color: #8aecec;
}

.core-nav .menu li.active > a,
.core-nav .menu li a:hover,
.core-nav .menu li a:focus,
.core-nav .menu li a:active {
	color: #8aecec;
}

nav.scrolled .menu li a {
	font-weight: 500;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

nav.scrolled .menu li.active > a {
	color: #8aecec;

}

nav.scrolled .menu li.active > a,
nav.scrolled .menu li a:hover,
nav.scrolled .menu li a:focus,
nav.scrolled .menu li a:active {s
	color: #8aecec;
}

/*=======================================================
			TOP SLIDER:
========================================================*/
.slider-area {
	height: 100vh;
	color: #fff;
	text-align: center;
	position: relative;
}

.slider-area .single-slide {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 100vh;
	height: 100vh;
}

.slider-area .single-slide .btn {
	margin-bottom: 15px;
}

.slider-area .single-slide:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(173, 103, 234, 0.66);
}

.slider-area .slide-bg-1 {
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slider-area .slide-bg-2 {
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slider-area .tabel {
	display: table;
	width: 100%;
}

.slider-area .tabel .tabel-cell {
	display: table-cell;
	height: 40em;
	vertical-align: middle;
}

.slider-area .tabel .tabel-cell .slider-content {
	padding: 0 40px;
}

.slider-area .tabel .tabel-cell .slider-content h1 {
	margin: 20px 0;
}

.slider-area .tabel .tabel-cell .slider-content .btn-white {
	margin-left: 20px;
}

.slider-area .owl-dots {
	bottom: 2.5%;
	right: 50%;
	position: relative;
}

.slider-area .owl-dots div.owl-dot {
	background-color: transparent;
	border: 2px solid #ad67ea;
	border-radius: 100px;
	bottom: -25px;
	display: inline-block;
	height: 12px;
	left: 50%;
	margin-right: 10px;
	position: relative;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 12px;
}

.slider-area .owl-dots div.owl-dot.active {
	background-color: #8aecec;
}

.slider-area:after {
	content: "";
	position: absolute;
	bottom: -1%;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100px;
	background: transparent;
	background-size: 100% 100%;
	background-image: url(../img/bottom-wave.png);
}

/*=======================================================
			STEPPER:
========================================================*/
#bs-stepper {
	text-align: center;
	padding: 50px 0 10px 0;
}

#bs-stepper h2 {
	margin-bottom: 50px;
}

#bs-stepper h2:after {
	top: -15px;
	content: "";
	position: relative;
	left: 50%;
	bottom: 0;
	width: 230px;
	height: 4px;
	display: block;
	transform: translateX(-20%);
	border-radius: 100px;
}

#bs-stepper .bs-stepper-header {
	margin-bottom: -10px;
	margin-left: 50px;
	margin-right: 50px;
}

#bs-stepper .bs-stepper-circle {
	background-color: #ad67ea;
	font-family: 'Poppins', sans-serif;
}

#bs-stepper .bs-stepper-header .bs-stepper-label {
	color: black; 
	}

.form-group {
	text-align: left;
	font-weight: bold;
	color: black;
	font-family: 'Poppins', sans-serif;
}

#bs-stepper .option{
  color:#fff;
  background:#369;
}

.form-check  {
	color: black;
	text-align: left;
	font-family: 'Poppins', sans-serif;
	margin-left: 80px;
	margin-top: 5px;
}

.form-check h5 {
	margin-top: 20px;
}

.form-check h3 {
	color: black;
	text-align: left;
	font-family: 'Poppins', sans-serif;
	margin-left: 0px;
	margin-bottom: 20px;
	margin-top: -30px;
}

.card {
	margin-top: 20px;
}

.card .card-text {
	text-align: center;
}

/*=======================================================
			RESULTS:
========================================================*/
#results {
	padding: 80px 0;
}

#results .result-box h4 {
	margin-top: 20px;
	margin-bottom: 0;
}

#results .result-box h4:after {
	content: "";
	position: relative;
	left: 20px;
	width: 40px;
	height: 4px;
	margin: 20px 0;
	display: block;
	background-color: #ad67ea;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 100px;
}
/*=======================================================
			PORTFOLIO:
========================================================*/
#cards {
	background: #f5f5f7;
	padding: 40px 0 0 0;
	text-align: center;
}

#cards .svg-wave {
	width: 100%;
	position: relative;
	bottom: 60px;
}

#cards .svg-wave svg {
	background: #fff;
	width: 100%;
	height: auto;
}

#cards .svg-wave svg path {
	fill: #f5f5f7;
}

#cards h2:after {
	top: -23px;
	content: "";
	position: relative;
	left: 50%;
	bottom: 0;
	width: 300px;
	height: 4px;
	display: block;
	border-radius: 100px;
}

#cards .row {
	margin-top: 80px;
}

#cards .card-text {
	text-align: left;
}

/*# sourceMappingURL=style.css.map */